* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  touch-action: pan-y;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: #949494;
}

.homes {
  padding-bottom: 50px;

  .nav {
    padding: 10px 0;

    .am-flexbox {
      text-align: center;
    }

    img {
      width: 48px;
      height: 48px;
      margin-bottom: 7px;
    }
  }
}

.home {
  .tabar {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;

    .iconfont {
      font-size: 20px;
    }
  }
}

body {
  font-family: 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  background-color: #fff;
  color: #333;
}